.shirt_present {
  border: 1px solid transparent;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.shirt_incorrect {
  border: 1px solid #E21C21;
}

.shirt_correct {
  border: 1px solid #21E21C;
}

.shirt_hidden {
  border: 1px solid transparent;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s ease-in;
}

.textOverlay {
    position: absolute;
    top: 2px;
    left: 5px;
    font-family: 'Nunito', arial, sans-serif;
    font-size: 13pt;
    font-weight: 700;
    text-align: center;
    z-index: 1;
}
