td
{
    position: relative;
}

th
{
    position: relative;
}

.textoverlay
{
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    font-family: arial sans-serif;
    font-weight: 900;
}